<div class="container">
  <h1>Formula S.B.R</h1>
  <button type="button"class="btn btn-outline-primary"><%= link_to "iniciar sesion", new_user_session_path %></button><br><br>
  <button type="button"class="btn btn-outline-primary"><%= link_to "registrarse", new_user_registration_path %></button>
</div>
