<div>
  <div>

  <div>
    <p></p>
  </div>

  <div>
    <h1>Formula S.B.R</h1>
    <button><%= link_to "iniciar sesion", new_user_session_path %></button><br><br>
    <button><%= link_to "registrarse", new_user_registration_path %></button>
  </div>

</div>
</div>
