<div class="container-fluid">
  <div class="row">

  <div class="col-6 slider color display-5">
    <p></p>
  </div>

  <div class="col-6 texto">
    <h1>Formula S.B.R</h1>
    <button type="button"class="btn btn-outline-primary"><%= link_to "iniciar sesion", new_user_session_path %></button><br><br>
    <button type="button"class="btn btn-outline-primary"><%= link_to "registrarse", new_user_registration_path %></button>
  </div>

</div>
</div>
