<div class="container-fluid">
  <div class="row">

    <div class="col-6 slider color display 5 bg-success">
      <p class="my-5"><i class="fas fa-map-marker-alt"></i>Av. Fuerza Aérea Esq. Juan Pablo II</p>
      <p class="my-5"><i class="fab fa-whatsapp-square"></i> 61855589-72966494</p>
      <p class="my-5"><i class="fas fa-phone-alt"></i> 466-75657</p>
      <p class="my-5"><i class="fab fa-facebook"></i> FORMULA SBR</p>
    </div>

  <div class="col-6 texto">

    <center class="my-5">
      <img src="https://scontent.fvvi1-2.fna.fbcdn.net/v/t1.0-9/99138498_108166570906198_6740738930968100864_n.jpg?_nc_cat=102&ccb=2&_nc_sid=85a577&_nc_ohc=BOY_PeIXCBgAX-D9nkM&_nc_ht=scontent.fvvi1-2.fna&oh=ffb9c712b6e93aa6db0c91cfb753c3da&oe=5FD6E817" height="250" width="250" alt="">
      </center>
      <center class="my-5">
        <%= link_to "iniciar sesion", new_user_session_path, class:"btn btn-outline-success" %>
        <%= link_to "registrarse", new_user_registration_path, class:"btn btn-outline-success" %>
      </center>
  </div>
</div>
</div>
