<%= link_to "back", views_path %>
<h1>Productos</h1>

  <table>
    <thead>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Cuanto cuesta y precio</th>
    </thead>

    <tbody>
      <% @products.each do |prod| %>
      <tr>
        <td><%= image_tag(prod.photo, size: '200x150')%></td>
        <td><%= prod.name%></td>
        <td><%= number_to_currency(prod.price, unit: "BOB$", precision: 0)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
